<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Headlines</title>
    </head>
    <body>
        <h1>Headlines</h1>
        <form>
            <input type="text" name="publication" placeholder="search" />
            <input type="submit" value="Submit" />
        </form>
        {% for article in articles %}
        <strong><a href="{{article.link | safe}}">{{article.title | safe}}</a></strong><br>
        <em>{{article.published | safe}}</em><br>
        <p>{{article.summary | safe}}</p>
        <hr />
        {% endfor %}
    </body>
</html>